In [101]:
import numpy as np
import pandas as pd

In [102]:
raw_skill_data = pd.read_csv ('Raw_Skills_Dataset.csv')
raw_skill_data.head(10)

                   RAW DATA
0                  What ifs
1                 seniority
2               familiarity
3           functionalities
4                   Lambdas
5              Java Streams
6  Object Oriented analysis
7      Relational Databases
8                       SQL
9                       ORM

In [109]:
len(raw_skill_data)

34116

In [103]:
sample_df = pd.read_csv ('Example_Technical_Skills.csv')
sample_df.head(10)

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps
5                                 CA SAM
6                              OpenShift
7                  Acxiom Data Analytics
8                  SAP Digital Boardroom
9                          Seeburger BIS

In [104]:
def is_capital(raw_skill_list):
    #checks to see that each word in the skill phrase is not capital
    '''
    Args:
        raw_skill_list (series): strings to search in
    
    Returns:
        NumPy array of 0s and 1s
    '''
    c = 0
    indicator_arr = []
    for skill in raw_skill_list:
        c = 0
        for word in skill.split():
            if word[0].islower():
                c+=1
        if (c > 0):
            indicator_arr.append(0)
        else:
            indicator_arr.append(1)
        
    return indicator_arr

In [105]:
X_train = is_capital(raw_skill_data['RAW DATA'])
print(X_train[:10])

[0, 0, 0, 0, 1, 1, 0, 1, 1, 1]

In [106]:
#Potential features: all words in phrase capitalized, several upper cases in each word(camel case, acronym)

In [107]:
new_df = raw_skill_data
new_df['tech'] = X_train
new_df.head(10)

                   RAW DATA  tech
0                  What ifs     0
1                 seniority     0
2               familiarity     0
3           functionalities     0
4                   Lambdas     1
5              Java Streams     1
6  Object Oriented analysis     0
7      Relational Databases     1
8                       SQL     1
9                       ORM     1

In [108]:
technical_skills = new_df[new_df['tech'] == 1]['RAW DATA']
technical_skills.head(20)

4                  Lambdas
5             Java Streams
7     Relational Databases
8                      SQL
9                      ORM
10                    JPA2
11               Hibernate
12                 MyBatis
13               Hibernate
15       Git.. Familiarity
16                   Maven
17    Gradle.. Familiarity
22             Familiarity
55                  Python
58                     SQL
60
 Relational Stores
62                   MySQL
63                  Oracle
64            NoSQL Stores
65         (i.e. Big Query
Name: RAW DATA, dtype: object

In [110]:
len(technical_skills)

12990